.change_password_wrapper {
	width: 100%;
	float: left;
	margin-top: 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.change_password_title {
	padding: 3% 4% 1% 4%;
}
.change_password_row {
	padding: 3px 0 15px 0;
	position: relative;
	width: 100%;
}
label.error {
	left: 18%;
}
.personal_data {
	padding: 1% 0 2% 2%;
	width: 98%;
}
.change_password_action {
	padding: 3% 0 3% 18%;
}
.change_password_row:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;	
}
@media screen and (max-width:1649px)
{
	.default {
		width: 43%;
	}
	.lbl {
		width: 22%;
	}
	label.error {
		left: 22%;
	}
	.change_password_action {
		padding: 3% 0 3% 22%;
	}
}
@media screen and (max-width:1540px)
{
	.default {
		width: 45%;
	}
}
@media screen and (max-width:1280px)
{
	.default {
		width: 49%;
	}
}
@media screen and (max-width:1215px)
{
	.default {
		width: 52%;
	}
}
@media screen and (max-width:1232px)
{
	.default {
		width: 54%;
	}
	.lbl {
		width: 25%;
	}
	label.error {
		left: 25%;
	}
	.change_password_action {
		padding: 3% 0 3% 25%;
	}
}
@media screen and (max-width:1137px)
{
	.default {
		width: 59%;
	}
	.lbl {
		width: 28%;
	}
	label.error {
		left: 28%;
	}
	.change_password_action {
		padding: 3% 0 3% 28%;
	}
}
@media screen and (max-width:1053px)
{
	.default {
		width: 65%;
	}
	.lbl {
		width: 31%;
	}
	label.error {
		left: 31%;
	}
	.change_password_action {
		padding: 3% 0 3% 31%;
	}
}
@media screen and (max-width:990px)
{
	.default {
		width: 75%;
	}
	.lbl {
		width: 100%;
		text-align: left;
	}
	label.error {
		left: 0;
	}
	.change_password_action {
		padding: 3% 0 3% 1%;
	}
}
@media screen and (max-width:923px)
{
	.default {
		width: 80%;
	}
}
@media screen and (max-width:880px)
{
	.default {
		width: 85%;
	}
}
@media screen and (max-width:855px)
{
	.default {
		width: 90%;
	}
}
@media screen and (max-width:828px)
{
	.default {
		width: 95%;
	}
}
@media screen and (max-width:399px)
{
	.change_password_row:nth-child(3) {
		padding: 3px 0 28px 0;
	}
}